.affix {
	top: 0px;
	margin: 0px 20px;
	width:1100px;
}
@media (max-width: 1199px)
{
.affix {
    width: 900px;
}
}
@media (max-width: 991px)
{
.affix {
    width: 680px;
}
}
@media (max-width: 768px)
{
.affix {
	left:15px;
	right:15px;
	width:auto;
}
}

.affix + .container {
	padding: 0px;
}

/* -------------------------------------------------Above code suggested by Hiren Vaghasiya-------------------------------------------------------------------------- */

h1, h4 {
	text-shadow: 4px 5px 3px #A866B2; /*#DCD4F9, #F74554 moves to the right, moves down, thickness of text's shadow*/
}
.main-container {
	margin: 40px 0px;
	border-radius: 10px;
	background-color: #4B004C ; /*#800000, #4B004C, #E6E6E6*/
}

#head_tag, #footer_tag {
	font-family: Tangerine, Monospace;
	color: white;
}
#head_tag {
	font-size: 100px;
	height: 300px;
}
#footer_tag {
	font-size: 50px;
}

.image {
	border-style: solid;
	border-radius: 50%;
	border-width: 1px;
	border-color: #000;
	height: 230px;
	width: 240px;
}
.img-responsive {
	margin: 20px auto;
}

.navbar {
	margin: 0px 20px;
	z-index: 1;
}

.info {
	font-family: Monospace;
	font-size: 20px;
	background-color: #E6E6E6; /*#4B004C, #E6E6E6*/
	border-radius: 10px;
	margin: 20px 20px;
	padding: 20px 20px;
}
.boxSpacing {
	margin: 20px auto;
}
.pics {
	height: 300px;
	width: 300px;
}

#aboutMe, #portfolio, #contactMe {
	font-family: Lobster, Monospace;
	font-size: 35px;
	color: #6E326F;
}

.centeringIcon {
	display: block;
	text-align:center;
	color: white;
}
